@import "tailwindcss";
@keyframes bounce-across {
  0% {
    transform: translateX(-10%) translateY(0);
  }
  25% {
    transform: translateX(25vw) translateY(-20px);
  }
  50% {
    transform: translateX(50vw) translateY(0);
  }
  75% {
    transform: translateX(75vw) translateY(-20px);
  }
  100% {
    transform: translateX(110%) translateY(0);
  }
}

.bounce-across {
  animation: bounce-across 2s linear infinite;
}